:root {
  --white: #ffffff;
  --light-brown: #eaddca;
  --brown: #c4a484;
  --dark-brown: #6f4e37;
  --red: #8b0000;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--light-brown);
  color: var(--dark-brown);
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}
