.layersContainer {
  height: 500px;
  width: 100vw;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
}
.container {
  width: 510px;

  position: relative;
}
.layer {
  height: 467px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.panel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top {
  z-index: 3;
}
