.row {
  display: flex;
  justify-content: center;
  height: var(--polygon-height);
}
.row:first-child {
  margin-top: calc(var(--settlementContainer) / 2);
}
.row:not(:last-child) {
  margin-bottom: calc(calc(var(--polygon-height) / 4) * (-1));
}
