.container {
  height: calc(var(--polygon-height) / 2 / 2);
}
.verticalContainer {
  height: calc(var(--polygon-height) / 2);
  width: var(--road);
}
.verticalContainer:not(:last-child) {
  margin-right: calc(
    calc(var(--polygon-width) * 5 + var(--settlementContainer)) / 5 -
      calc(var(--road) * 2) - calc(var(--road) / 2)
  );
}
.button {
  cursor: pointer;
  border: none;
  height: var(--road);
  background-color: var(--black);
}
.left {
  transform: rotateY(0deg) rotate(-30deg);
  width: calc(var(--polygon-width) / 2);
}
.right {
  transform: rotateY(0deg) rotate(30deg);
  width: calc(var(--polygon-width) / 2);
}
.vertical {
  height: calc(var(--polygon-height) / 2);
  width: var(--road);
}
.red {
  background-color: var(--red);
}
.blue {
  background-color: var(--blue);
}
.white {
  background-color: var(--white);
}
.orange {
  background-color: var(--orange);
}
