.container {
  width: var(--settlementContainer);
  height: var(--settlementContainer);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container:not(:last-child) {
  margin-right: calc(var(--polygon-width) - var(--settlementContainer));
}
.settlement {
  width: var(--settlement);
  height: var(--settlement);
  background-color: var(--black);
  border: none;
  cursor: pointer;
}
.settlement:disabled {
  cursor: default;
}
.city {
  width: 18px;
  height: 12px;
  background-color: var(--black);
  border: none;
  cursor: default;
}
.red {
  background-color: var(--red);
}
.blue {
  background-color: var(--blue);
}
.white {
  background-color: var(--white);
}
.orange {
  background-color: var(--orange);
}
