.container {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.settlement {
  width: 10px;
  height: 10px;
  border: none;
  background-color: var(--black);
}
.city {
  width: 18px;
  height: 12px;
  border: none;
  background-color: var(--black);
}
.container:not(:last-child) {
  margin-right: 80px;
}
.red {
  background-color: var(--red);
}
.blue {
  background-color: var(--blue);
}
.white {
  background-color: var(--white);
}
.orange {
  background-color: var(--orange);
}
