.button {
  font-size: 16px;
  cursor: pointer;
  padding: 6px 12px;
  color: var(--dark-brown);
  background-color: var(--light-brown);
  border: 2px solid var(--dark-brown);
  border-radius: 5px;
}
.button:hover {
  color: var(--light-brown);
  background-color: var(--dark-brown);
}
