.container {
  display: flex;
  justify-content: center;
}
.button {
  cursor: pointer;
  font-size: 14px;
  color: var(--dark-brown);
  background-color: var(--light-brown);
  border: 2px solid var(--dark-brown);
  border-radius: 5px;
  padding: 5px 10px;
}
.button:hover {
  color: var(--light-brown);
  background-color: var(--dark-brown);
}
.button:disabled:hover {
  color: var(--dark-brown);
  background-color: var(--light-brown);
}
