.container {
  width: 250px;
  height: 230px;
  border: 2px solid var(--brown);
  border-radius: 5px;
  padding: 12px;
}
.wrapper {
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.title {
  margin-bottom: 32px;
}
.elementContainer {
  display: flex;
  align-items: center;
}
.elementContainer:not(:last-child) {
  margin-bottom: 8px;
}
.symbolContainer {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.polygon {
  width: 15px;
  height: calc(15px * 1.1547);
  display: inline-block;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background-color: var(--dark-brown);
}
.settlement {
  width: 10px;
  height: 10px;
  border: none;
  background-color: var(--black);
}
.city {
  width: 18px;
  height: 12px;
  border: none;
  background-color: var(--black);
}
.orange {
  background-color: var(--dark-orange);
}
.gray {
  background-color: var(--gray);
}
.yellow {
  background-color: var(--yellow);
}
.green {
  background-color: var(--green);
}
.brown {
  background-color: var(--brown);
}
.lightGreen {
  background-color: var(--light-green);
}
