.wrapper {
  padding: 16px;
  border: 2px solid var(--brown);
  border-radius: 5px;
}
.title {
  margin-bottom: 32px;
}
.resourceCard {
  display: flex;
  flex-direction: column;
}
.red {
  border-color: var(--red);
}
.blue {
  border-color: var(--blue);
}
.white {
  border-color: var(--white);
}
.orange {
  border-color: var(--orange);
}
