.polygon {
  width: var(--polygon-width);
  height: var(--polygon-height);
  border: none;
  padding: 0;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background-color: var(--dark-brown);
  color: white;
  font-size: 14px;
}
.orange {
  background-color: var(--dark-orange);
}
.gray {
  background-color: var(--gray);
}
.yellow {
  background-color: var(--yellow);
}
.green {
  background-color: var(--green);
}
.brown {
  background-color: var(--brown);
}
.lightGreen {
  background-color: var(--light-green);
}
